@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* el tamaño de las fuentes van a estar sujetas a los breakpoints(punto de quiebre donde
se genera un cambio de tamaño segun el display a donde se presente la aplicacion) de media-querys- 
breakpoints basados en el ancho de la pantalla: desktop 1920 / small notebook 1366px / tablet 768px / mobile large 426px */

/* aca se van a definir variables*/

:root {
  --fuente-base: 16px;
  --desktop: 1920px;
  --small-notebook: 1366px;
  --tablet: 768px;
  --mobile-large: 426px;
}
/* se utilizan las media querys para definir los anchos max y min que redimensionaran la aplicacion*/
/*en este ej se usara mx-width para lograr aplicar reglas a pantallas con ancho menor o = a 768px*/

@media all and (max-width: var(--tablet)) {
  body {
    background-color: #ff3300;
  }
  :root {
    --fuente-base: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body style*/

html,
body {
  font-family: JetBrains Mono, Outfit;
  font-size: var(--fuente-base);
  width: 100%;
  height: 100%;
}

/*menu style*/

.menu-container {
  background-color: rgb(104, 139, 244);
  /* Color de fondo de la barra de navegación */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vmax;
}

.menu {
  max-width: 100vw;
  margin: 0 auto;
  padding: 10px 20px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #ff3300;
  font-size: 1.125rem;
  font-family: JetBrains Mono;
}

.menu a:hover {
  color: #ccc;
  /* Color del texto al pasar el cursor sobre los enlaces */
}

.home-container {
  background-color: #e06c75;
  height: 750px;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/*aside style*/

aside {
  background-color: #e5bc68;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 150px;
  height: 350px;
}

aside img {
  width: 60px;
  height: 60px;
}

/*home style*/

.home-article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-tittle {
  h2 {
    min-height: 76px;
    height: 76px;
  }
}

.home-tittle span {
  color: #e5bc68;
  font-family: Outfit;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 12px 4px 6px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}

.home-tittle span:hover {
  font-size: 4.75rem;
  text-shadow: 11px -2px 7px rgba(15, 10, 10, 0.25);
}

.home-tittle {
  color: #000;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Courier New", Courier, monospace;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-p {
  display: flex;
  width: 721px;
  height: 246px;
  flex-direction: column;
  color: #000;
  font-family: Courier Prime;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.2px;
  text-align: justify;
  order: 2;
}

/*my skills style*/

/* repaso gridd
.my-skills-container{
  background-color: aqua;
  display: grid;
  grid-template-rows: 50px, 50px, 50px;
  grid-template-columns:auto
  height: 120rem;
*/

.my-skills-container {
  /*background-color: aqua;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(229 188 104);
}

.html-container {
}

.css-container {
}

.javascript-container {
}

/*
header{
  background: #282c34;
  font-size: 2vmin;
  font-family: JetBrains Mono, monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #e4bb68;
}

.string {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 4s infinite;
}

.greeting {
  position: relative;
  top: 8.6vmin;
  animation: white-out 5s infinite;
}

.closure::after {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  background: #282c34;
  transform: translate(-45vmin, -24.5vmin);
}

.closure::before {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  background: #282c34;
  transform: translate(-40vmin, 5vmin);
}

.en {
  color: #fa8231;
}

.es {
  color: white;
}

.de {
  color: #c678dd;
}

.it {
  color: #a9b0bd;
}

@keyframes move {
  25% {
    transform: translatey(-5.8vmin);
    opacity: 1;
  }
  50% {
    transform: translatey(-11vmin);
  }
  75% {
    transform: translatey(-16.5vmin);
  }
}
*/
