@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* el tamaño de las fuentes van a estar sujetas a los breakpoints(punto de quiebre donde
se genera un cambio de tamaño segun el display a donde se presente la aplicacion) de media-querys-
breakpoints basados en el ancho de la pantalla: desktop 1920 / small notebook 1366px / tablet 768px / mobile large 426px */

/*medidas iniciales en 0*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fuente-base: 16px;
  --desktop: width 1920px;
  --small-notebook: width 1366px;
  --tablet: width 768px;
  --mobile-large: width 426px;
}

/*body style*/

html,
body {
  font-family: JetBrains Mono, Outfit;
  font-size: var(--fuente-base);
  width: 100%;
  height: 100%;
}

/*MEDIA QUERYS*/

/*DESKTOP*/
@media (max-width: 1920) and (min-width: 1366px) {
  :root {
    font-size: var(--fuente-base);
  }
}

/*NOTEBOOK*/
@media (max-width: 1366px) and (min-width: 768px) {
  :root {
    --fuente-base: 15px;
  }
}

/*TABLET*/
@media (max-width: 768px) and (min-width: 426px) {
  :root {
    --fuente-base: 12px;
  }
}

/*MOBILE*/
@media (max-width: 426px) {
  :root {
    --fuente-base: 10px;
  }
}

.tittles-text {
  text-decoration: none;
  font-size: 2rem;
  font-family: JetBrains Mono;
  text-shadow: 0.1rem 0.1rem 0.15rem rgb(52, 51, 51);
}

.paragraphs-text {
  text-decoration: none;
  font-size: 1rem;
  font-family: Outfit;
  text-shadow: 0.1rem 0.1rem 0.15rem rgb(52, 51, 51);
}

.container {
  width: 1440px;
  height: 750px;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
}

/*main nav style*/
.main-nav ul {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.main-nav a {
  color: #ff3300;
}

.main-nav a:hover {
  color: #ccc;
  /* Color del texto al pasar el cursor sobre los enlaces */
}

#my-menu {
  background-color: #60b0ef;
}

/*home style*/

#home {
  background-color: #e06c75;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#home-article {
  color: white;
}

.home-span {
  color: #e5bc68;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 0.5rem 0.2rem 0.2rem rgb(52, 51, 51);
  transition: all 0.5s;
}

.home-span:hover {
  font-size: 4.75rem;
  text-shadow: 0.6875rem -0.125rem 0.4375rem rgba(0, 0, 0, 0.556);
}

.home-photo {
  filter: drop-shadow(0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.739));
}

.photo {
  width: 500px;
  height: 500px;
  object-fit: contain;
  clip-path: circle(186px at 248px 214px);
}

/*home aside style*/

.sidebar {
  background-color: #e5bc68;
  border-radius: 1rem;
  margin: 3rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  width: 9.375rem;
  height: 21.875rem;
}

.sidebar img {
  position: relative;
  width: 5rem;
  height: 5rem;
}

.my-skills-container {
  .my-skills-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(229 188 104);
  }

  /*background-color: aqua;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
background-color: rgb(229 188 104); */
}

#my-projects {
  padding: 20px;
}

.project-container {
  margin-bottom: 20px;
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.projects-tittle {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.projects-tittle a {
  display: block;
  color: #ff3300;
  margin-top: 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.project-ada-1 a:hover,
.project-alma a:hover,
.project-algo a:hover {
  color: #e06c75;
}

.project-ada-1 a:visited,
.project-alma a:visited,
.project-algo a:visited {
  color: #e06c75;
}

/* Aqui se encuentra una animacion que ira en la primera seccion del portfolio, por eso se encuentra ccomentada
header{
background: #282c34;
font-size: 2vmin;
font-family: JetBrains Mono, monospace;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
color: #e4bb68;
}


.string {
display: flex;
flex-direction: column;
text-align: center;
animation: move 4s infinite;
}


.greeting {
position: relative;
top: 8.6vmin;
animation: white-out 5s infinite;
}


.closure::after {
content: '';
position: absolute;
height: 25vmin;
width: 40vmin;
background: #282c34;
transform: translate(-45vmin, -24.5vmin);
}


.closure::before {
content: '';
position: absolute;
height: 25vmin;
width: 40vmin;
background: #282c34;
transform: translate(-40vmin, 5vmin);
}


.en {
color: #fa8231;
}


.es {
color: white;
}


.de {
color: #c678dd;
}


.it {
color: #a9b0bd;
}


@keyframes move {
25% {
transform: translatey(-5.8vmin);
opacity: 1;
}
50% {
transform: translatey(-11vmin);
}
75% {
transform: translatey(-16.5vmin);
}
}
*/
