@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* el tamaño de las fuentes van a estar sujetas a los breakpoints(punto de quiebre donde
se genera un cambio de tamaño segun el display a donde se presente la aplicacion) de media-querys-
breakpoints basados en el ancho de la pantalla: desktop 1920 / small notebook 1366px / tablet 768px / mobile large 426px */

/*medidas iniciales en 0*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fuente-base: 16px;
  --desktop: width 1920px;
  --small-notebook: width 1366px;
  --tablet: width 768px;
  --mobile-large: width 426px;
}

/*body style*/

html,
body {
  font-family: JetBrains Mono, Outfit;
  font-size: var(--fuente-base);
}

/*MEDIA QUERYS*/

/*DESKTOP*/
@media (max-width: 1920) and (min-width: 1366px) {
  :root {
    font-size: var(--fuente-base);
  }
}

/*NOTEBOOK*/
@media (max-width: 1366px) and (min-width: 768px) {
  :root {
    --fuente-base: 15px;
  }
}

/*TABLET*/
@media (max-width: 768px) and (min-width: 426px) {
  :root {
    --fuente-base: 12px;
  }
}

/*MOBILE*/
@media (max-width: 426px) {
  :root {
    --fuente-base: 10px;
  }
}

.tittles-text {
  text-decoration: none;
  font-size: 2rem;
  font-family: JetBrains Mono;
  text-shadow: 0.1rem 0.1rem 0.15rem rgb(52, 51, 51);
}

.paragraphs-text {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Outfit;
  text-shadow: 0.1rem 0.1rem 0.15rem rgb(52, 51, 51);
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
}

.section {
  width: 100%;
  height: 100vh;
}

/*main nav style*/
.main-nav ul {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.main-nav a {
  color: #ff3300;
}

.main-nav a:hover {
  color: #000000;
  /* Color del texto al pasar el cursor sobre los enlaces */
}

#my-menu {
  background-color: #ffffff;
}

/*home style*/

#home {
  background-color: #f06060;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#home-article {
  color: white;
  letter-spacing: 2px;
  transition: 0.5s;
}

.home-span {
  color: #e5bc68;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 0.5rem 0.2rem 0.2rem rgb(52, 51, 51);
  transition: all 0.5s;
}

.home-span:hover {
  font-size: 4.75rem;
  text-shadow: 0.6875rem -0.125rem 0.4375rem rgba(0, 0, 0, 0.556);
}

.home-photo {
  filter: drop-shadow(0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.739));
}

.photo {
  width: 500px;
  height: 500px;
  object-fit: contain;
  clip-path: circle(186px at 248px 214px);
}

/*home aside style*/

.sidebar {
  background-color: #e5bc68;
  border-radius: 1rem;
  margin: 3rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  width: 9.375rem;
  height: 21.875rem;
}

.media-icon {
  margin: 0 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  position: relative;
  width: 5rem;
  height: 5rem;
}

.my-skills-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0, 0, 0 10rem;
  background-color: #f06060;
  text-align: center;
  gap: 25px;
}

.skill-card {
  width: 25rem;
  height: 25rem;
  margin: 1.875rem;
  border: 0.125rem solid #ffffff;
  font-size: 2rem;
  border-radius: 0.625rem;
  box-shadow: 0px 9px 6px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s; /*Aun no lo entiendo del todo al transform*/
  cursor: pointer;
}

.skills-tittles {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
}

#html {
  background-color: #d54f30;
}

#css {
  background-color: #3851bc;
}

#js {
  background-color: #d7c03e;
}

#git-hub {
  background-color: #64bb5d;
}

#figma {
  background-color: #ad1616;
}

/*Aca va lo que pasa con el hover, osea cuando se pasa por encima*/
.skill-card:hover {
  transform: scale(1.05);
  overflow: hidden;
}

.logo {
  position: relative;
  color: #e848bb;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.7s;
}

.flex-all-centred {
  /*Este selecctor selecciona todos los elementos que contengan display flez y los centra*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.project-cards {
  width: 500px;
  height: 500px;
  background: #2c73df;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.slide {
  width: 300px;
  height: 200px;
  background: #2c73df;
  position: relative;
}

.up-slide {
  position: relative;
  z-index: 1;
  transition: 0.7s;
  background-color: #2c73df;
  width: 100%; /* Se ajusta al 100 para que tenga el mismo ancho que la card*/
  height: 50%; /* aca se pone 50% porque es lo que va a bajar con el hover*/
  margin-bottom: 25px;
  width: 300px;
  height: 200px;
}

.up-slide h3 {
  font-size: 2rem;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.down-slide {
  position: relative;
  z-index: -1;
  padding: 20px;
  background: #2c73df;
  transition: 0.7s;
  width: 100%; /* Se ajusta al 100 para que tenga el mismo ancho que la card*/
  height: -50%;
  display: flex;
  transform-origin: top;
}

.down-slide p {
  font-size: 1 rem;
  color: #000000;
  font-family: Outfit;
  text-align: center;
  width: 350px;
}

.slide:hover > .up-slide {
  /*En este caso se selecciona el bloque "up.slide" dentro de slide y se le adigna un modificador transform
  (para que cambie su posicion con respecto al eje y) por medio del pseudo elemento :hover */
  transform: translateY(-80px);
}

.project-cards:hover > .slide {
  /*El combinador > selecciona los elementos que son hijos directos del primer elemento.*/
  transform: scale(1.05);
  transform: translateY(-40px);
  background-image: url(images/ada\ project\ gif.gif);
  background-size: cover;
}

.slide:hover > .down-slide {
  transform: translateY(80px);
}
.down-slide p {
  font-size: 1 rem;
  color: #000000;
  font-family: Outfit;
  text-align: center;
  width: 350px;
}

/*
.container-projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.projects {
  width: 500px;
  height: 500px;
  background: #2c73df;
  border-radius: 50px;
  box-shadow: 0 1.25rem 2.5rem rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.projects:hover {
  transform: scale(1.05);
}

.projects a {
  color: #ff3300;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 1rem;
}

/* Aqui se encuentra una animacion que ira en la primera seccion del portfolio, por eso se encuentra ccomentada
header{
background: #282c34;
font-size: 2vmin;
font-family: JetBrains Mono, monospace;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
color: #e4bb68;
}


.string {
display: flex;
flex-direction: column;
text-align: center;
animation: move 4s infinite;
}


.greeting {
position: relative;
top: 8.6vmin;
animation: white-out 5s infinite;
}


.closure::after {
content: '';
position: absolute;
height: 25vmin;
width: 40vmin;
background: #282c34;
transform: translate(-45vmin, -24.5vmin);
}


.closure::before {
content: '';
position: absolute;
height: 25vmin;
width: 40vmin;
background: #282c34;
transform: translate(-40vmin, 5vmin);
}


.en {
color: #fa8231;
}


.es {
color: white;
}


.de {
color: #c678dd;
}


.it {
color: #5F7B27;
}


@keyframes move {
25% {
transform: translatey(-5.8vmin);
opacity: 1;
}
50% {
transform: translatey(-11vmin);
}
75% {
transform: translatey(-16.5vmin);
}
}
*/
